/*
 * Hotel header
 */
.hotel__title {
    .offer {
        span {
            color: var(--primary-color);
            background-color: var(--primary-background);
        }
    }
}

.hotel__rattings {
    .ratting__wrap {
        color: var(--primary-color);
        background-color: var(--primary-background);
        border-radius: calc(var(--round) - .4rem);
    }
}