.hotel__header {
    .hotel__title {
        .stars {
            i {
                font-size: .7rem;
                margin: 0 .1rem;
                color: #f49a42;
            }
        }
        .headline {
            h3 {
                margin-bottom: 0;
            }
        }
        .offer {
            span {
                color: var(--primary-color);
                background-color: var(--primary-background);
                border-radius: .3rem;
            }
        }
    }
}

.hotel__rattings {
    .ratting__wrap {
        color: var(--primary-color);
        background-color: var(--primary-background);
        border-radius: .3rem;
    }
}