.hotel__info.pb-3
    .info__wrap.p-4
        .row.row-cols-1.no-gutters
            .info__price
                .starts price starts as
                .price.font-weight-bold #[i.fa.fa-dollar-sign] 8,500
                .per per room / night
                .guests #[i.fa.fa-user] 2 x Guests
                .rooms #[i] 1 x Room
            .info__booking.row.no-gutters.pb-3.pt-2
                span.col-6 Quick Booking 
                span(class="phone col-4 offset-2 text-right") #[i.fa.fa-phone-alt] 12100
            .info__other-options
                button(class="button button-pr btn-block p-2") View Other Options