section.package-summery.pt-3.pb-3
    header.summery__header.pb-4
        h3.text-uppercase Package Summery
    .summery__content
        .summary__top.d-flex.justify-content-between.mb-4
            .package-highlights
                header.package-highlights__header
                    h4 Package Highlights
                .package-highlights__body
                    ul.row.no-gutters
                        li.col-6 Half Board/ All Inclusive
                        li.col-6 Luxurious 5-Star Hotel
                        li.col-6 Child Under 11 Years Stay Free
                        li.col-6 Banyan An Adult Only Zone
                        li.col-6 LUX* Me Spa
            .offer-details
                header.offer-details__header
                    h4 Offer Details
                .offer-details__body
                    .row.no-gutters
                        ul.col-6
                            li Benefit from a special discounted CHILL'OUT OFFER at Grand Hilton Hotel.
                        .date.col-6.text-right
                            time(datetime="2020-3-10") 10th March
                            |  - 
                            time(datetime="2020-4-30") 30th April 2020
                        .note.col-12
                            span.small * Valid until 30 April 2020
        .package-details.mt-4
            header.package-details__header
                h4 Package Summery Details
            .package-details__body
                .row.no-gutters
                    .purchase.col-4
                        h5 Purchase Inclusions
                        ul
                            li Room as per selection
                            li Half Board or All Inclusive Meal Plan
                            li Complimentary Land &amp; Water activities
                            li Child Under 11 years old stays free
                            li Free Wi-Fi
                            li Free Secure Parking
                    .complimentary-land.col-4
                        h5 Complimentary Land Based Activities
                        ul
                            li Gym
                            li Beach Volley
                            li Table tennis
                            li Soccer balls
                            li Yoga
                            li Unlimited access to driving range
                    .complimentary-water.col-4
                        h5 Complimentary Water Based Activities
                        ul
                            li Water skining
                            li Windsurfing
                            li Pedal boats
                            li Kayaking
                            li Aqua Gym
                            li Glass bottom boat trips
                hr(style="border-top: 2px dashed rgba(0,0,0,.1);")
                .row.no-gutters
                    .meal-plan.col-4
                        h5 Meal Plan Available
                        ul
                            li Half Board
                            li All Inclusive
                    .entertainment.col-4
                        h5 Entertainment
                        ul
                            li Live music
                            li DJ &amp; Mauritian Dance Show
                    .check-in.col-4
                        h5 Check In &amp; Check Out
                        ul
                            li Check In Time 14:00
                            li Check Out Time 11:00
