.search_box
    div(class="search-wrap m-auto d-flex")
        input(class="pt-2 pl-3 pb-2" type="search" placeholder="Search Location")
        button(class="button button-pr") #[i(class="fas fa-search")]