extends layout

include helpers/mixins

block header__scripts
    script(src="https://kit.fontawesome.com/0f8a488237.js" crossorigin="anonymous")
block links
    link(rel="icon", href="../../assets/images/site-icon.png")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap")
    link(
        rel="stylesheet",
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css",
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk",
        crossorigin="anonymous"
    )
    //- link(rel="stylesheet", href="../../vendors/bootstrap/bootstrap.min.css")
    //- link(rel="stylesheet", href="../../vendors/fontawesome-free-5.13.0-web/css/all.min.css")
    link(rel="stylesheet", href="../css/style.css")

block container

    block header
        include includes/header
        include includes/search-bar
        include includes/nav
    .container-fluid
        block main
            include includes/main
        block contents
            include includes/details
            include includes/other-package
            include includes/about-us
            include includes/subscribe
            include includes/other-activities
    block footer
        include includes/footer

block body__scripts
    script(src="../js/main.js")
