body {
    height: 2500px;
}

body > .container-fluid {
    background-color: var(--secondry-background)
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none !important;
}