- 
    const navItems = [
        "all deals",
        "hotels",
        "activities",
        "hotel day packages",
        "restaurants",
        "events",
        "rodrigues"
    ];

    const pkgs = {
        "hotel-blue": {
            "title": "Hotel Blue Haven",
            "price": ["10,500", "8,500"],
            "img": "../../../assets/images/view-of-tourist-resort-338504.jpg"
        },
        "lux": {
            "title": "LUX* Belle Mare",
            "price": ["8,500", "3,000"],
            "img": "../../../assets/images/view-of-tourist-resort-338504.jpg"
        },
        "white-place": {
            "title": "White Place",
            "price": ["10,500", "9,500"],
            "img": "../../../assets/images/view-of-tourist-resort-338504.jpg"
        }, 
        "luxury-place": {
            "title": "Luxury Place",
            "price": ["4,500", "2,500"],
            "img": "../../../assets/images/view-of-tourist-resort-338504.jpg"
        }, 
        "hotel-five-star": {
            "title": "Hotel Five Star",
            "price": ["6,500", "3,500"],
            "img": "../../../assets/images/view-of-tourist-resort-338504.jpg"
        }
    };

    const activities = [
        {
            "headline": "The curious corner of chamarel",
            "source": "../../../assets/images/view-of-tourist-resort-338504.jpg"
        },
        {
            "headline": "Gymkhana club golf course",
            "source": "#"
        },
        {
            "headline": "Tamarind falls hiking trip - full day",
            "source": "#"
        },
        {
            "headline": "The blue marine discovery quest",
            "source": "#"
        }
    ];