section.details.pt-4.pb-4
    include ../components/details__header
    .details-contents
        .container
            include ../components/package-summary
            //- include ../components/hotel-information
            //- include ../components/rooms
            //- include ../components/facilities-activities
            //- include ../components/dining-entertainment
            //- include ../components/reviews
            //- include ../components/questions