+section("details")
    include ../components/details__header
    .details-contents
        .container
            .details__wrap.d-flex.overflow-hidden
                include ../components/package-summary
                include ../components/hotel-information
                include ../components/rooms
                include ../components/facilities-activities
                include ../components/dining-entertainment
                include ../components/reviews
                include ../components/questions