include ../helpers/variables


nav(class="main-nav pt-3 pb-3")
    .container
        ul(class="navbar-list p-0 mb-0")
            each item in navItems
                li(class="navbar-item") 
                    |
                    a(class="navbar-link text-uppercase" href="#") #{ item }