nav(class="main-nav pt-3 pb-3")
    .container
        ul(class="navbar-list p-0 mb-0")
            - var navItems = [ "all deals", "hotels", "activities", "hotel day packages", "restaurants", "events", "rodrigues" ];
            each item in navItems
                li(class="navbar-item") 
                    |
                    a(class="navbar-link text-uppercase" href="#") #{ item }