section.search-bar
    .container
        .row.align-items-center
            div(class="header__title col-3")
                h2.text-uppercase.mb-0 Best #[span tour] plan
            div(class="search col-5")
                include ../components/search_box
            div(class="user-setting col-3 text-right offset-1")
                div.row.no-gutters
                    .shopping.col-3.d-flex
                        i.fa.fa-shopping-cart.m-auto
                    .user.col-9.row.no-gutters.align-items-center
                        .avatar-wrap.col-4.offset-2
                            .avatar.m-auto.rounded-circle
                        .name.col-5.text-center
                            span Nathan
                        .drop.col-1
                            i.fa.fa-chevron-down